@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  --clr-neutral-400: hsl(0, 0%, 59%);
  --clr-primary-200: hsl(185, 75%, 39%);
  --clr-primary-300: hsl(227, 10%, 46%);
  --clr-primary-400: hsl(229, 23%, 23%);

  --ff-primary: 'Kumbh Sans', sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;

  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: calc(100vw - 75rem) calc(100vh - 80rem) no-repeat
      url('../../images/bg-pattern-top.svg'),
    calc(100vw - 15rem) calc(100vh - 28rem) no-repeat
      url('../../images/bg-pattern-bottom.svg') var(--clr-primary-200);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  width: 100%;
  max-width: 20rem;
  min-height: 23rem;
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
}

.card__header {
  flex: 1 0 6rem;
  background-image: url('../../images/bg-pattern-card.svg');
  justify-content: center;

  position: relative;
}

.card__img {
  max-width: 100%;
  width: 6rem;
  border-radius: 100px;
  border: 5px solid #fff;
  position: absolute;
  top: 6rem;
}

.card__body {
  flex: 1 0 5rem;
  align-items: center;
  justify-content: center;
}

.card__name-age {
  margin-top: 2rem;
}

.card__name {
  font-size: var(--fs-400);
}

.card__age {
  color: var(--clr-neutral-400);
  font-weight: var(--fw-700);
}

.card__location {
  font-size: var(--fs-300);
  color: var(--clr-neutral-400);
}

.card__footer {
  flex: 1 0 2rem;
}

.card__stats {
  display: flex;
  width: 100%;
  list-style-type: none;
  border-top: 0.5px solid #c9c9c9;
  padding-inline: 1rem;
}

.stat {
  flex-basis: 100%;

  justify-content: center;
  text-align: center;
  font-size: var(--fs-300);
  color: var(--clr-neutral-400);
}

.stat__digit {
  display: block;
  font-weight: 700;
  color: #000;
}

.stat__digit + textNode {
  color: red;
}

.attribution {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* UTILITIES */
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.gap {
  gap: 0.5rem;
}
