@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  --clr-neutral-400: hsl(0, 0%, 59%);
  --clr-primary-200: hsl(185, 75%, 39%);
  --clr-primary-300: hsl(227, 10%, 46%);
  --clr-primary-400: hsl(229, 23%, 23%);

  --ff-primary: 'Kumbh Sans', sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;

  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-200);
  font-family: var(--ff-primary);
}

main {
  display: flex;
  place-content: center;
  width: 100vw;
  height: 100vh;
  background: -30vw -65vh no-repeat url('../../images/bg-pattern-top.svg'),
    50vw 40vh no-repeat url('../../images/bg-pattern-bottom.svg') var(--clr-primary-200);
}

.card {
  background: top / 100% 40% no-repeat url('../../images/bg-pattern-card.svg') #fff;
  width: 100%;
  max-width: 20rem;
  border-radius: 1rem;
  margin: auto;
  overflow: hidden;
}

.card__main-info {
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.card__img {
  max-width: 100%;
  border-radius: 100px;
  outline: 5px solid #fff;
}

.card__name-age {
  justify-content: center;
  align-items: center;
}

.card__name {
  font-size: var(--fs-400);
}

.card__age {
  color: var(--clr-neutral-400);
  font-weight: var(--fw-700);
}

.card__location {
  font-size: var(--fs-300);
  color: var(--clr-neutral-400);

  justify-content: center;
  align-items: center;
}

.card__stats {
  list-style-type: none;
  justify-content: space-around;
  padding: 1rem;
  border-top: 0.5px solid #c9c9c9;
  margin-top: 1rem;
}

.stat {
  border: 1px solid white;
  flex-basis: 100%;
  text-align: center;
  margin-block: auto;
}
.stat p:nth-child(1) {
  font-weight: 900;
}
.stat p:nth-child(2) {
  font-size: var(--fs-300);
  color: var(--clr-neutral-400);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (min-width: 600px) {
  .card {
    max-width: 20rem;
  }
}

/* UTILITIES */
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.gap {
  gap: 0.5rem;
}
