@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  --clr-neutral-400: hsl(0, 0%, 59%);
  --clr-primary-200: hsl(185, 75%, 39%);
  --clr-primary-300: hsl(227, 10%, 46%);
  --clr-primary-400: hsl(229, 23%, 23%);

  --ff-primary: 'Kumbh Sans', sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;

  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-200);
  font-family: var(--ff-primary);
}

main {
  place-content: center;
  min-height: 100vh;
  background: calc(100vw - 75rem) calc(100vh - 80rem) no-repeat
      url('../../images/bg-pattern-top.svg'),
    calc(100vw - 15rem) calc(100vh - 28rem) no-repeat
      url('../../images/bg-pattern-bottom.svg') var(--clr-primary-200);
}

.card {
  background: top / 100% 40% no-repeat url('../../images/bg-pattern-card.svg') #fff;
  width: 100%;
  max-width: 20rem;
  border-radius: 1rem;
  margin-inline: auto;
  margin-block: 1rem;
  overflow: hidden;
}

.card__main-info {
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.card__img {
  max-width: 100%;
  width: 100px;
  height: auto;
  border-radius: 100px;
  border: 5px solid #fff;
}

.card__name-age {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card__name {
  font-size: var(--fs-400);
}

.card__age {
  color: var(--clr-neutral-400);
  font-weight: var(--fw-700);
}

.card__location {
  font-size: var(--fs-300);
  color: var(--clr-neutral-400);

  justify-content: center;
  align-items: center;
}

.card__stats {
  list-style-type: none;
  justify-content: space-around;
  padding: 1.5rem;
  border-top: 0.5px solid #c9c9c9;
  margin-top: 1rem;
}

.stat {
  flex-basis: 100%;
  font-size: var(--fs-300);
  text-align: center;
  color: var(--clr-neutral-400);
  margin-block: auto;
  letter-spacing: 0.2ch;
}

.stat__digit {
  display: block;
  font-weight: 700;
  color: #000;
}

.stat__digit + textNode {
  color: red;
}

.attribution {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* UTILITIES */
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.gap {
  gap: 0.5rem;
}
